!!! 5
html
  head 
    title Jawn
    link(rel='stylesheet', type='text/css', href='index.css')
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  body
    #content
      #locateMeView
        table#locateMeGraphic
          tr
            td 0
            td 1
            td 2
            td 3
          tr
            td 4
            td 5
            td 6
            td 7
          tr
            td 8
            td 9
            td 10
            td 11
          tr
            td 12
            td 13
            td 14
            td 15
    script(src='/lib/jquery/jquery.min.js')
    script(src='/lib/socket.io/socket.io.js')
    script(src='index.js')